<div class="login-container">
  <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        Email is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        Password is required
      </mat-error>
    </mat-form-field>

    <section class="button-section">
      <button type="submit" [disabled]="loginForm.invalid" mat-raised-button color="primary">Login</button>
    </section>
  </form>
</div>
