<div class="box">
    <div class="container">
        <form [formGroup]="loginForm" (ngSubmit)="submitted()">
            <mat-form-field class="entry">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field class="entry">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field class="entry">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
            <button class='login' mat-raised-button color="primary" type="submit">Sign Up</button>
        </form>
        <p class="signup">Already have an account? <a href="/login">Login</a></p>
    </div>
</div>
