.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 90vh;
    flex-direction: column;
}

.cards {
    width: 60vw;
    flex-grow: 1;
}

.card {
    padding: 10px;
    width: 100%;
}

.cardhead {
    display: flex;
    width: 100%;
}

.cardbody {
    width: 100%;
    text-wrap: wrap;
    height: 100px;
    overflow: hidden;
}

.heading {
    font-size: 20px;
    font-weight: 500;
}

.cardhead img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.topics {
    width: 100%;
    margin-top: 10px;
}

.topictag {
    width: fit-content;
    padding: 5px;
    border-radius: 12px;
    background-color: rgb(224, 220, 220);
}

.noBlogs {
    margin-top: 10vh;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.pagination {
    width: 100%;
    margin-top: auto;
    text-align: center;
    height: 40px;
    position: absolute;
    top: 90%;
    right: 15%;
}
