.user-container {
    padding: 20px;
}

.mat-table {
    width: 100%;
}

.mat-row,
.mat-header-row {
    display: flex;
    justify-content: space-between;
}

.mat-cell,
.mat-header-cell {
    flex: 1;
    padding: 12px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-align: center;
}

.button {
    background-color: cadetblue;
}
