<div class="cart-wrap">
  <h1 class="mb-5 text-center" style="color: #60ad56;" *ngIf="wishlistProduct.length > 0">My Wishlist</h1>

  <div class="text-center" *ngIf="isLoadingWishlist && wishlistProduct.length === 0">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p>Loading...</p>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="table-wishlist">
          <!-- Display when wishlist is empty -->
          <div class="container-fluid mt-5" *ngIf="!isLoadingWishlist && wishlistProduct.length === 0">
            <div class="card border-0">
              <div class="card-body cart text-center">
                <img src="../../../assets/images/wishlistEmpty.png" alt="wishlistEmpty"
                  class="img-fluid mb-4 wishlistImg" />
                <h3><strong>Your Wishlist is Empty</strong></h3>
                <h4>Add Product To Wishlist</h4>
                <a routerLink="/home" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Add Product</a>
              </div>
            </div>
          </div>

          <!-- Display when wishlist is not empty -->
          <table class="table table-striped" *ngIf="!isLoadingWishlist && wishlistProduct.length > 0">
            <thead class="table-dark">
              <tr>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of wishlistProduct">
                <td class="text-center">
                  <a [routerLink]="'/product-detail/' + item.attributes.product.data.id">{{
                    item.attributes.product.data.attributes.product_name }}</a>
                </td>
                <td class="price text-center">{{ item.attributes.product.data.attributes.price }} &#8377;</td>
                <td class="text-center">
                  <button class="btn btn-outline-danger" (click)="RemoveWishlistItem(item.id)">
                    Remove
                    <i class="bi bi-trash3"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
