.cart-wrap {
  padding: 40px 0;
  font-family: "Open Sans", sans-serif;
}

.table-wishlist {
  width: 100%;
}

.table-wishlist table {
  width: 100%;
  margin-top: 20px;
}

.table-wishlist thead th {
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.table-wishlist tbody tr td {
  vertical-align: middle;
}

.wishlistImg {
  max-height: 50vh;
  width: auto;
}
