<app-navbar></app-navbar>
<div class="container">
  <div class="profile-info">
    <img src="https://picsum.photos/200" alt="Profile Picture" />
    <p>{{ username }}</p>
    <button (click)="exportBlogs()">Export Blogs</button>
    <button (click)="importBlogs()" *ngIf="myProfile">Import Blogs</button>
    <input type="file" #inputFile [style.visibility]="'hidden'" (change)="inputFileSubmitted()" />
  </div>
  <div class="category">
    <p [class.active]="active" (click)="setActive()">{{ myProfile ? 'My' : '' }} Articles</p>
    <p [class.active]="!active" (click)="setNotActive()">{{ myProfile ? 'My' : '' }} Profile</p>
  </div>

  <div class="content">
    <div class="blogs" *ngIf="active">
      <p class="addBlogs" *ngIf="myBlogs.length === 0">No Blogs posted yet!</p>
      <app-cards *ngFor="let ele of myBlogs" [title]="ele.title" [category]="ele.category"
        [description]="ele.description" [blogID]="ele.id" [editArticle]="editArticle"
        [blogCreationTime]="ele.blogCreationTime" [primaryImageURL]="ele.primaryImageURL">
      </app-cards>
    </div>
    <div class="profile-content" *ngIf="!active">
      <app-editprofile></app-editprofile>
    </div>
  </div>
</div>
<app-loader *ngIf="!contentLoaded"></app-loader>
