* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #157762, #5e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 700px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.row input:not([type="date"]),
.row select {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
}

input:focus, select:focus {
    border-bottom: 2px solid #002765;
}

input[type="date"] {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
}

.category-container {
    display: flex;
    margin-bottom: 10px;
}

.span-container input[type="button"]{
    display: inline-block;
    margin-right: 10px;
    background-color: #002765;
    color: white;
    border: none;
    cursor: pointer;
}

#category-input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
}

#add-category {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.categoryList-container {
    display: inline-flex;
}

#todo-category {
    background-color: #002765;
    color: white;
    padding: 10px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 5px;
}

.categoryList-container input[type="button"] {
    background-color: #414750;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button {
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    background: #002765;
    color: #fff;
}

.edit-btn {
    background: #157762;
}

.edit-button {
    flex: 1;
    background: transparent;
    color: #000;
}

.edit-button:hover {
    flex: 1;
    background: grey;
    color: #fff;
}

ul li {
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: "";
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url('../img/unchecked.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 8px;
    top: 15px;
}

ul li.checked {
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url('../img/checked.png');
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    color: #fff;
    background: #002765;
}
