<app-navbar></app-navbar>
<div class="blog-container">
    <div class="card-head">
        <img src="https://picsum.photos/200" (click)="openProfile()" />
        <h2>{{loggedINUserInfo.userName}}</h2>
        <p class="follow" (click)="followThePerson()" *ngIf="!followingThePerson && showFollowOption">Follow</p>
        <p class="unfollow" (click)="unfollowThePerson()" *ngIf="followingThePerson && showFollowOption">Following</p>
        <mat-icon *ngIf="!isArticeleSaved()" (click)="saveTheBlog()">bookmark_add</mat-icon>
        <mat-icon *ngIf="isArticeleSaved()" (click)="unSaveTheBlog()">bookmark_added</mat-icon>
    </div>
    <div class="features">
        <mat-icon class="like" *ngIf="!blogLiked" (click)="likeTheBlog()"> thumb_up_off_alt </mat-icon>
        <span *ngIf="!blogLiked">{{getLikeCount()}}</span>
        <mat-icon class="like" *ngIf="blogLiked" (click)="dislikeTheBlog()">thumb_up</mat-icon>
        <span *ngIf="blogLiked">{{getLikeCount()}}</span>
        <mat-icon class="comment" (click)="handleComment()">comment</mat-icon>
        <span>{{getComentCount()}}</span>
    </div>
    <p class="heading">
        {{blogObj.title}}
    </p>
    <div class="main-image">
        <img src={{blogObj.primaryImageURL}} (error)="handleImageError()" />
    </div>
    <div class="description">
        <ngx-editor [editor]="editor" [ngModel]="html" [disabled]="true"></ngx-editor>
    </div>
</div>
<app-comments *ngIf="showComments"></app-comments>
