<div class="followers">
  <p class="topicsSearch">Recommended topics</p>
  <div class="topics" [ngClass]="{ 'expand': isExpanded }">
    <p (click)="searchByTag('All')" [style.border]="topicName === 'All' ? '2px solid black' : ''">All</p>
    <p *ngFor="let ele of topicsArray; let i = index" (click)="searchByTag(ele)"
      [style.border]="topicName === ele ? '2px solid black' : ''" [class.hidden]="i >= 5 && !isExpanded">{{ ele }}</p>
    <p class="expand-collapse" *ngIf="topicsArray.length > 5" (click)="toggleExpand()">
      <span>{{ isExpanded ? 'Collapse' : 'Expand' }}</span>
      <i class="fa" [class.fa-minus]="isExpanded" [class.fa-plus]="!isExpanded"></i>
    </p>
  </div>
  <div class="head">
    <p [class.active]="showBorder" (click)="followers()">Followers ({{ followerCount }})</p>
    <p [class.active]="!showBorder" (click)="following()">Following ({{ followingCount }})</p>
  </div>
  <div class="lists">
    <div class="infos" *ngFor="let ele of followArray">
      <img (click)="openProfile(ele.userID)" src="/assets/profilePic.jpg">
      <p>{{ ele.userName }}</p>
      <p class="follow" *ngIf="!isFollowing(ele.userID)" (click)="followBack(ele.userID)">Follow Back</p>
      <p class="unfollow" *ngIf="isFollowing(ele.userID)" (click)="unfollow(ele.userID)">UnFollow</p>
    </div>
  </div>
</div>
