<div class="body">

    <div class="card">
        <div class="cardhead" >
            <img  src="https://picsum.photos/200" (click)="moveToUserProfile()"/>
            <h2>{{blogOwnerName}}</h2>
           <mat-icon class="edit" *ngIf="editArticle" (click)="changeArticle()" >edit</mat-icon>
           <mat-icon class="delete" *ngIf="editArticle" (click)="deleteArticle()" >delete</mat-icon>
           <p class="created">{{getDate()}}</p>
        </div>
        <p class="heading" (click)="readBlog()" >{{title}} </p>
        <div class="cardbody" (click)="readBlog()">
            <p>{{description}}</p>

            <img  [src]="primaryImageURL" (error)="handleImageError()"/>
        </div>
        <div class="topics">
            <p class="topictag">{{category}} </p>

            <p class="reading">{{readingTime}} min Read</p>
        </div>

    </div>
</div>
