.body {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.cardhead {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.cardhead img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.card-title {
    flex: 1;
    margin-left: 15px;
}

.card-title h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.card-title .created {
    margin-top: 5px;
    font-size: 14px;
    color: #888;
}

.card-actions {
    display: flex;
    align-items: center;
}

.card-actions mat-icon {
    margin-left: 10px;
    cursor: pointer;
    color: #007bff;
}

.card-actions mat-icon:hover {
    color: #0056b3;
}

.card-actions mat-icon.delete {
    color: red;
}

.card-actions mat-icon.delete:hover {
    color: rgb(158, 32, 32);
}

.heading {
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    color: #333;
}

.cardbody {
    padding: 15px;
    cursor: pointer;
}

.cardbody img {
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 8px;
    object-fit: cover;
    /* Maintain aspect ratio */
}

.topics {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.topictag,
.reading {
    font-size: 14px;
    color: #555;
}
