<!-- Footer 5 - Bootstrap Brain Component -->
<footer class="footer py-3 py-xl-8 mt-5">
  <div class="container-fluid">
    <div class="container-fluid bg-light">
      <div class="row justify-content-center">
        <div class="col-12 col-md-11">
          <!-- Widgets - Bootstrap Brain Component -->
          <section class="py-4 py-md-5 py-xl-4">
            <div class="container-fluid overflow-hidden">
              <div class="bannerContainer mb-5">
                <div class="d-flex flex-row flex-row-reverse justify-content-between mt-5 h-100">
                  <div
                    class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                    <h1 style="color: black">Healthy life.</h1>
                    <h1 style="color: black">Happy Perfect Life</h1>
                    <p style="color: black" class="mt-2">
                      From reserved farms around the world
                    </p>
                    <!-- <div class="d-flex">
                      <button class="btn shopNow" style="color: white">
                        Shop Now
                      </button>
                    </div> -->
                  </div>
                  <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                    <img src="../../../assets/images/footerImg.png" class="" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </section>

          <div class="py-2 py-md-3 py-xl-5 border-top border-light-subtle">
            <div class="container-fluid overflow-hidden">
              <div class="row gy-4 gy-md-0">
                <div class="col-xs-12 col-md-7 order-1 order-md-0">
                  <div class="copyright text-center text-md-start">
                    &copy; 2024 Smartcart - All Rights Reserved.
                  </div>
                </div>

                <div class="col-xs-12 col-md-5 order-0 order-md-1">
                  <div class="credits text-secondary text-end text-md-start mt-2 fs-7">
                    Develop by Bunny 🐰
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
