* {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
    padding: 0px 40px 0px 40px;
}

h2 a {
    text-decoration: none;
}

h2 span {
    font-size: 14px;
    font-family: 500;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.title {
    text-align: center;
}

.card {
    padding: 10px;
    border-radius: 8px;
    -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
    -moz-box-shadow: 3px 3px 10px 3px #dddddd;
    box-shadow: 3px 3px 10px 3px #dddddd;
}

.image-container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.image-container img {
    width: 90%;
    height: auto;
    display: block;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

input,
select,
textarea {
    padding: 8px;
    margin-bottom: 20px;
}

#pagination {
    margin-top: 10px;
}

#pagination button {
    padding: 4px 10px;
}

.del-button {
    display: flex;
    gap: 20px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    padding: 10px;
    display: flex;
    gap: 20px;
}

.modal-image-container {
    background-color: #ddd;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.modal-image-container img {
    width: 400px;
    display: block;
}

.modal-content-container div {
    padding: 1px;
}

.modal-content-container div:first-child {
    font-size: 20px;
    font-weight: 500;
}

.modal-quantity {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.modal-quantity div:first-child,
.modal-quantity div:last-child {
    padding: 5px 10px;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: -0.5px 6.5px 11.5px 1.5px #dddddd;
    -moz-box-shadow: -0.5px 6.5px 11.5px 1.5px #dddddd;
    box-shadow: -0.5px 6.5px 11.5px 1.5px #dddddd;
    cursor: pointer;
}

.modal-quantity input {
    text-align: center;
    width: 40%;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: -0.5px 6.5px 11.5px 1.5px #dddddd;
    -moz-box-shadow: -0.5px 6.5px 11.5px 1.5px #dddddd;
    box-shadow: -0.5px 6.5px 11.5px 1.5px #dddddd;
}

.add-to-cart {
    padding: 10px 20px;
    border: none;
    background-color: rgb(92, 202, 239);
    border-radius: 5px;
    color: white;
    transition: 0.2s ease-in-out;
}

.add-to-cart:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.delete-icon {
    margin-top: 10px;
    color: rgb(199, 71, 71);
}

/* loader */
.lds-ring {
    display: inline-block;
    position: relative;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 45px;
    height: 45px;
    margin: 8px;
    border: 5px solid #ddd;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(82, 75, 180) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Product Modal */
.product-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.product-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.product-modal-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
}
