<div class="container my-5">
  <h1 class="mb-5 text-center" style="color: #60ad56">Checkout</h1>
  <div class="row border d-flex justify-content-between p-4">
    <!-- shipping address -->
    <div class="col-md-5">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="text-right">User Information</h4>
      </div>
      <form class="row mt-3">
        <div class="col-md-12">
          <label class="labels">Username</label><input type="text" class="form-control" placeholder=""
            value="{{ userData.username }}" disabled />
        </div>
        <div class="col-md-12 mt-3">
          <label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder=""
            value="{{ userData.mobile_number }}" disabled />
        </div>
        <div class="col-md-12 mt-3">
          <label class="labels">Email ID</label><input type="text" class="form-control" placeholder=""
            value="{{ userData.email }}" disabled />
        </div>
        <div class="col-md-12 mt-3">
          <label class="labels">Shipping Address</label>

          <textarea cols="30" rows="3" class="form-control" *ngIf="
              userData.user_addresses && userData.user_addresses.length > 0
            " value="{{
              userData?.user_addresses[0]?.address_line_1 +
                ' ' +
                userData?.user_addresses[0]?.landmark +
                ' ' +
                userData?.user_addresses[0]?.city?.name +
                ' ' +
                userData?.user_addresses[0]?.city?.pincode
            }}" disabled></textarea>
        </div>
      </form>
      <a class="btn btn-primary btn-block mt-5" routerLink="/profile"
        *ngIf="!userData.user_addresses || userData.user_addresses.length === 0">
        Add Details
      </a>
    </div>

    <div class="col-md-4">
      <div class="mt-5 mt-lg-0">
        <div class="card border shadow-none">
          <div class="card-header bg-transparent border-bottom py-3 px-4">
            <h5 class="font-size-16 mb-0">#Order Details</h5>
          </div>
          <div class="card-body p-4 pt-2">
            <div class="table-responsive">
              <table class="table mb-0">
                <tbody>
                  <tr *ngFor="let item of cartsData">
                    <td class="my-0">
                      {{
                      item?.attributes?.product?.data?.attributes
                      ?.product_name
                      }}
                    </td>

                    <td class="text-muted text-end">
                      {{ item?.attributes?.quantity }}
                      Pc
                    </td>
                    <td class="text-muted text-end">
                      {{ item?.attributes?.product?.data?.attributes?.price }}
                      &#8377;
                    </td>
                  </tr>

                  <tr>
                    <td>Sub Total :</td>
                    <td></td>
                    <td class="text-end">
                      &#8377;{{ amountSummary.subTotal }}
                    </td>
                  </tr>

                  <tr>
                    <td>Shipping Charge :</td>
                    <td></td>
                    <td class="text-end">
                      &#8377; {{ amountSummary.shippingCharge }}
                    </td>
                  </tr>
                  <tr>
                    <td>Estimated Tax :</td>
                    <td></td>
                    <td class="text-end">&#8377; {{ amountSummary.tax }}</td>
                  </tr>
                  <tr class="bg-light">
                    <th>Total :</th>
                    <td></td>
                    <td class="text-end">
                      <span class="fw-bold">
                        &#8377; {{ amountSummary.total }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <a class="btn btn-primary btn-block mt-2" (click)="placeOrder()">
                Place Order
                <span class="spinner-border" role="status" *ngIf="isloading"></span>
              </a>
            </div>
            <!-- end table-responsive -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
