<app-navbar></app-navbar>
<div class="writeContainer">
    <form [formGroup]="entryForm" (ngSubmit)="formSubmitted()">
        <div class="heading">
            <h2 class="heading-title">{{ articleToEdit ? 'Edit Blog' : 'New Blog' }}</h2>
        </div>

        <div class="form-group">
            <label for="title">Title:</label>
            <input id="title" type="text" placeholder="Title" formControlName="title" />
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <input id="category" type="text" placeholder="Blog Category" formControlName="category" />
            <small>Enter multiple categories separated by commas</small>
        </div>
        <div class="form-group">
            <label for="imageURL">Image URL:</label>
            <input id="imageURL" class="imageURL" type="text" placeholder="Blog Image URL"
                formControlName="primaryImageURL" />
        </div>
        <div class="editor-wrapper form-group">
            <label for="description">Description:</label>
            <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
            <ngx-editor [editor]="editor" formControlName="description" placeholder="Tell your story..."></ngx-editor>
        </div>
        <div class="publish">
            <button type="submit" *ngIf="!articleToEdit">Publish</button>
            <button type="submit" *ngIf="articleToEdit">Save</button>
            <button type="button" class="cancel" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>
