* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import '../node_modules/font-awesome/css/font-awesome.css'

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
