<!-- <nb-layout>
    <nb-layout-header fixed> -->
<!-- <a href="#" (click)="toggle()"><i class="nb-menu"></i></a> -->
<!-- Nebular Practice
    </nb-layout-header>

    <nb-layout-header subheader>
        Sub Heading -->
<!-- <nb-actions>
      <nb-action icon="home-outline"></nb-action>
      <nb-action icon="search-outline"></nb-action>
      <nb-action icon="edit-outline"></nb-action>
    </nb-actions> -->
<!-- </nb-layout-header> -->

<!-- <nb-sidebar>Hello From Sidebar</nb-sidebar> -->


<!-- <nb-layout-column class="colored-column-danger">
        <nb-card status="success">
            <nb-card-header>Nebula</nb-card-header>
            <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
            </nb-card-body>
            <nb-card-footer>By Wikipedia</nb-card-footer>
        </nb-card>

        <nb-card status="danger">
            <nb-card-header>Nebula</nb-card-header>
            <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
            </nb-card-body>
            <nb-card-footer>By Wikipedia</nb-card-footer>
        </nb-card>
        <nb-card>
            <nb-menu [items]="items">
            </nb-menu>
        </nb-card>
    </nb-layout-column>
    <nb-layout-footer>&copy; Ravi</nb-layout-footer>
</nb-layout> -->


<router-outlet></router-outlet>
