<div class="body">
    <div class="card">
        <div class="card-head">
            <img class="profile-img"
                src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D" />
            <h2>Author Name</h2>
        </div>
        <p class="heading">Heading</p>
        <div class="card-body">
            <p>This is the blog body
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione aperiam ad, tempore omnis impedit
                officia nesciunt iste quas inventore, et placeat harum voluptatibus sunt, officiis mollitia tenetur hic
                exercitationem ab sed. Ipsam placeat rerum laborum illum corporis natus, tempora blanditiis delectus
                consequuntur nesciunt, eius non laudantium quis. Praesentium quam culpa velit dolorem. Recusandae,
                exercitationem aspernatur hic delectus autem, consequuntur ullam quibusdam fugit necessitatibus iste
                unde voluptatem ad. Ipsa optio laudantium iusto voluptas voluptates aut soluta possimus exercitationem
                eius architecto tenetur quae, ipsam placeat et unde sed doloribus nulla! Eius dolore excepturi
                distinctio neque officia, rem eaque ad dolorum? Maiores, assumenda.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nesciunt dolorem omnis soluta sapiente
                ratione blanditiis quas vero obcaecati exercitationem corrupti labore similique impedit maiores esse ab
                aliquid, in perspiciatis fuga itaque deserunt veritatis. Sint eos nihil impedit eligendi, quia tempore
                quibusdam quos at aspernatur aut reiciendis facere iusto illum debitis quis! Nesciunt, aliquid dolore
                fugiat repellendus unde assumenda illum atque iusto dignissimos odit totam libero modi. Excepturi soluta
                vel voluptatum inventore doloribus reprehenderit. Sed ipsa voluptates optio commodi fugiat omnis velit
                dolorem sequi itaque necessitatibus dolor ipsum at est, asperiores, magnam quisquam. Culpa quasi odit
                exercitationem harum nemo minima.
            </p>
            <img class="blog-img"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRin4BULa0BWcmjaTpCUEgxSNalZognjtQ8MPaYHgBj2A&s" />
        </div>
        <div class="topics">
            <p class="topic-tag">Topic Tag</p>
        </div>
    </div>
</div>
