* {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

section {
  padding: 30px 50px;
}

.options {
  padding: 0px 0px 20px 0px;
}

.options a {
  text-decoration: none;
  font-size: 13px;
  background-color: #007bff;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.title {
  text-align: center;
}

.card {
  padding: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
  -moz-box-shadow: 3px 3px 10px 3px #dddddd;
  box-shadow: 3px 3px 10px 3px #dddddd;
}

.image-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.image-container img {
  width: 90%;
  height: auto;
  display: block;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 10px;
  display: flex;
  gap: 20px;
}

.modal-body button {
  padding: 5px 20px;
}

.modal-image-container {
  background-color: #ddd;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  flex: 1;
}

.modal-image-container img {
  width: 400px;
  display: block;
}

.modal-content-container {
  flex: 1;
}

.modal-content-container div {
  padding-bottom: 10px;
}

.modal-content-container div:first-child {
  font-size: 20px;
  font-weight: 500;
}

/* Loading */
.lds-ring {
  display: inline-block;
  position: relative;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
  margin: 8px;
  border: 5px solid #ddd;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(149, 148, 163) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Pagniations */
#pagination-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  padding: 8px 12px;
  margin-right: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-button:hover {
  background-color: #ddd;
}

.pagination-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.pagination-button.active {
  background-color: #007bff;
  color: #fff;
}

input,
select {
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #d3d3d3;
}

nav {
  background-color: #215690;
  padding: 20px;
  font-size: 17px;
}

nav ul {
  display: flex;
  gap: 20px;
  padding-left: 30px;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.reset {
  padding: 8px 12px;
  background-color: rgb(172, 35, 35);
  color: white;
  border-radius: 5px;
  border: none;
}
