body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 70%;
}

form {
    display: flex;
    flex-wrap: wrap;
}

fieldset {
    width: 100%;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    margin-bottom: 10px;
}

label {
    width: 30%;
    box-sizing: border-box;
}

input,
textarea,
select {
    padding: 8px;
    box-sizing: border-box;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    width: 30%;
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
}
