
  .image-placeholder {
    background-color: #666;
    width: 215px;
    height: 315px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(49, 48, 48);
    font-size: 30px;
    margin: 15px;
  }

  .caption {
    font-size: 12px;
  }

  .text-block {
    font-size: 14px;
    margin-top: 20px;
    font: bold;
  }