
  .image-placeholder {
    background-color: #666;
    width: 215px;
    height: 315px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    color: rgb(49, 48, 48);
    font-size: 14px;
  }

  .caption {
    font-size: 12px;
    color: black;
    margin-bottom: 16px;
  }

  .text-block {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
  }


  .d-flex {
    justify-content: center;
  }